#clientNav{
position: absolute;
top: 20px;
right: 30px;
padding: 5px;
}
#clientNav ul{
padding: 0;
}
#clientNav p{
padding: 0;
}
#clientNav li{
padding-left: 5px;
padding-right: 5px;
border: none;
}
body{
min-width: 890px;
position: relative;
}
nav{
width: 150px;
float: right;
}
nav>ol>li{
display: block;
}
#content{
margin: 10px 50px;
}
footer{
clear: right;
}