html{
	width: 100%;
}

body{
	margin: 0;
	font-size: 150%;
}

.logo{
	position: absolute;
		margin: 5px;
		width: 60px;
		height: 60px;
		right: 5px;
		border-radius: 25%;
}

nav{
	height: 70px;
	width: 100%;
	min-width: 320px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
}

nav a{
	width: 65px;
	height: 65px;
	padding: 0;
	top: 0;
	display: inline-block;
}

nav>a>span{
	transform: rotate(90deg);
}

.first{
	margin-left: 5px;
}

.face{
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

section{
	margin: 0;
	padding: 85px  2% 100px  2%;
	padding-left: 2%;
	padding-bottom: 30px;
	padding-top: 85px;
}

#work{
	background-color: #92E893;
}

#contact{
	background-color: #92BF93;
}
figure{
	margin: 0;
	margin-right: 0px;
	margin-bottom: 20px;

}
figure img{
	width: 100%;
	border-radius: 50%;
}

figcaption{
	display: none;
}

footer{
		width: 100%;
		bottom: 0;
		height: 60px;
		padding-top: 10px;
	}

footer img{
	position: absolute;
	left: 2.5%;
}
	
footer p{
	display: block;
	text-align: center;
	width: 75%;
	margin-left: 25%
}

@media screen and (min-width: 540px){
	body{
	}
	nav{
		height: 85px;
		padding-left: 10px;
	}	
	.logo{
		position: absolute;
		margin: 10px;
		width: 60px;
		height: 60px;
		right: 15px;
		border-radius: 25%;
	}	
	nav a{
		display: inline-block;
		width: 19.5%;
		margin-top: 12.5px;
		padding-top: 10px;
		height: 50px;
		transition: .25s ease-in;
	}
	nav a:hover{
		color: #7B6188;
		width: 22.5%;
	}
	.face{
		height: 150px;
		width: 150px;
	}
	section{
		margin: 0;
		padding: 85px  2% 100px  2%;
	}
	section:after{
		content:"";
		position: relative;
		display: inline-block;
		width: 95%;
		border-top: 5vw solid #494E52;
		border-left: 2.5vw solid transparent;
		border-right: 2.5vw solid transparent;
		top: 120px;
		z-index: 15;

	}
	figure{
		height: 30vw;
	}

	figcaption {
	display:block;
	position:relative;
	top: -200px;
	left: 10%; 
	width:130px; 
	padding:10px; 
	transition: .5s ease-in;
	opacity: 0;
	}
	figure:hover figcaption{
		z-index: 2;
		opacity: 1;
	}	
	#contact:after{
		display: none;
	}	
	footer{
		width: 100%;
		margin-left: 0;
	}

}
@media screen and (min-width: 720px){
}