h1{
	margin: 0;
	margin-top: 40px;
	margin-bottom: 5%;
	text-align: center;
}

h2{
	font-size: 1.75em;
	text-align: center;
}

nav{
	display: none;
}

section{
	padding: 5%;
}

.item{
	height: 300px;
}

.infobox{
	padding: 5%;
	padding-bottom: 20px;
	margin: 0;
	margin-bottom: 5%;
	height: 300px;
	overflow: hidden;
	line-height: 1.2;
}
.special{
	height: 200px;
}


@media screen and (min-width: 720px){

	.infobox{
		height: 500px;
	}

	.infobox:not(:active){
		transition: height 1s step-end;
	}

	.special{
	height: 200px;
	}
	.arrow-down {
 	 	width: 0; 
  		height: 0; 
  		border-left: 20px solid transparent;
  		border-right: 20px solid transparent;
  		border-top: 20px solid darkgreen;
  		margin-left: 40%;
	}
}

@keyframes scroll{
	0% {height: 300px;}
	100%{height: 500px;}
}