html{
	width: 100%;

}

body{
	margin: 0;
	position: relative;
}

header{
	height: 75px;

}

header>nav>a{
	z-index: 40;
	text-decoration: none;

}


footer{
	height: 50px;
	display: inline-block;
	width: 100%;

}

article>a>img{
	display: block;
	margin: 0 auto;
}

article>p{
	width: 280px;
	margin: 0 auto;
}

.totop{
	display: none;
}

footer p{
	display: inline-block;
	margin-left: 10%;
}

@media screen and (min-width: 540px){

	nav a{
		font-size: 30px;
	}
	.glasswrapper{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 100;
	}

	.door-left{
		position: absolute;
		bottom: 0;
		top: 0;
		width: 50%;
		left: 0;
		background-color: rgba(35, 35, 35, .8);
		
  		filter: blur(40px);
		z-index: 100;
	}

	.door-right{
		position: absolute;
		bottom: 0;
		top: 0;
		width: 50%;
		right: 0;
		background-color: rgba(35, 35, 35, .8);
  		filter: blur(40px);
		z-index: 100;
	}

	.circle{
		position: fixed;
		width: 15%;
		height: 15vw;
		display: block;
		top: 300px;
		right: 42.5%;
		border-radius: 50%;
		z-index: 101;
		background-image: url("../images/benface.jpg");
		background-repeat: no-repeat;
	}

	.totop{
		display: block;
		position: fixed;
		bottom: 10px;
		right: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: black;
		text-decoration: none;
		color: white;
		font-size: 40px;
		
	}

	.totop p{
		margin-left: 15px;
	}

	footer{
			font-size: 20px;
	font-weight: bold;
	}

}

@media screen and (min-width: 940px){
	.sectionwrapper{
		width: 940px;
		display: block;
		margin: 0 auto;	
	}
}