html{
	width: 100%;
}

body{
	margin: 0;
	font-size: 150%;
}

footer p{
	margin-bottom: 0;
}

figure{
	margin: 0;
	padding: 10px;
}

header{
	width: 100%;
	height: 75px;
	padding: 0;
	position: fixed;
	top: 0;

}

.navdrop{
	width: 15px;
	height: 15px;
	padding: 15px;
	margin: 12.5px 0  0 12.5px;
}


nav{
	width: 150px;
	margin-left: 12.5px;
	display: none;
}

.navactive{
	display: block;
}

nav a{
	display: block;
	padding: 10px;
	text-align: center;

}

#about{
	margin-top: 80px;
}

#about img{
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 100px;
	margin-bottom: 20px;
}

figure img{
	display: block;
	margin: 0 auto;
}


figcaption{
	display: block;
	padding: 10px;
	height: 120px;
	margin-top: 10px;
	color: white;
	text-decoration: none;
}

section p{
	padding: 20px;
}
figcaption p{
	margin-top: 30px;
	padding: 5px;
}
footer{
	bottom: 0px;
}

.clicked{
	padding-top: 175px;
}

h4{
	background-color: black;
	color: white;
}

@media screen and (min-width: 550px){
	figure{
		position: relative;

	}

	figure img{
		width: 29vw;
		height: 29vw;
	}

	figcaption{
		display: none;
		position: absolute;
		padding: 20px;
		top: -10px;
	}

	figcaption p{
		font-size: 80%;
		

	}
	figure:hover figcaption{
		display: block;

	}


	#about img{
		height: 200px;
		width: 200px;
	}

	#work{
		height: 560px;
	}



	.navdrop{
		display: none;
	}

	nav{
		display: block;
		width: 100%;
		margin: 0 auto;

	}
	nav a{
		display: inline-block;
		width: 15%;
		height: 53px;
		padding-top: 20px;
		padding-right: 15px;
	}

	section h1{
		margin-left: 20px;
	}

	#about p{
		margin-bottom: 0;
	}
	.clicked{
		padding-top: 75px;
	}

}
@media screen and (min-width: 720px){
	
#work{
		height: 700px;
	}
	
}

@media screen and (min-width: 940px){
	.wrapper{
		width: 940px;
		display: block;
		margin: 0 auto;	
	}

	figure img{
		width: 260px;
		height: 260px;

	}
}