html{
	width: 100%;
}

body{
	margin: 0;
}

.logo{
	position: absolute;
		margin: 5px;
		width: 60px;
		height: 60px;
		right: 5px;
		border-radius: 25%;
}

nav{
	height: 70px;
	width: 100%;
	min-width: 320px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
}

nav a{
	width: 65px;
	height: 65px;
	padding: 0;
	top: 0;
	display: inline-block;
}

nav>a>span{
	transform: rotate(90deg);
}

.first{
	margin-left: 5px;
}

.face{
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

section{
	margin: 0;
	padding: 85px  2% 100px  2%;
	padding-left: 2%;
	padding-bottom: 30px;
	padding-top: 85px;
}

#work{
	background-color: #92E893;
}

#contact{
	background-color: #92BF93;
}

footer{
		margin-left: 30%;
		width: 75%;
		bottom: 0;
		height: 60px;
		padding-top: 10px;
	}
	
footer p{
	display: block;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 720px){
	body{
	}
	nav{
		height: 85px;
		padding-left: 10px;
	}
	
	.logo{
		position: absolute;
		margin: 10px;
		width: 60px;
		height: 60px;
		right: 15px;
		border-radius: 25%;
	}
	
	nav a{
		display: inline-block;
		width: 19.5%;
		margin-top: 12.5px;
		padding-top: 10px;
		height: 50px;
		transition: .25s ease-in;
	}

	nav a:hover{
		color: #7B6188;
		width: 22.5%;
	}

	.face{
		height: 150px;
		width: 150px;
	}
	
	section{
		margin: 0;
		padding: 85px  2% 100px  2%;
	}
	
	section:after{
		content:"";
		position: absolute;
		display: inline-block;
		width: 200px;
		height: 200px;
		margin-left: 37.5%;
		background-color: black;
		border-radius: 50%;
		z-index: 0;
	}


	
	#about:after{
		background-color:#E9E893;
	}
	#work:after{
		background-color:#92E893;
	}
	#contact:after{
		display: none;
	}
	
	footer{
		width: 100%;
		margin-left: 0;
	}
	
	
}